.button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
  }
  
  .button-primary {
    background-color: var(--primary-color);
    color: white;
  }
  
  .button-primary:hover {
    background-color: var(--button-hover);
  }
  