:root {
    --primary-color: #28a745;  /* Verde institucional */
    --secondary-color: #1a1a1a; /* Negro institucional */
    --text-color: #ffffff;
    --input-bg-color: #2b2b2b;
    --border-color: #ccc;
    --button-hover: #218838;
    --font-family: 'Arial', sans-serif;
  }
  
  body {
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-family: var(--font-family);
  }
  